<div class="col-md-1 teamPic">
  <img {{bindAttr src="content.logo_path"}}>
</div>
<div class="col-md-6">
  <h1>{{input type="name" value=team.name size="20"}} - {{team.tv}}</h1>
</div>
<div class="col-md-5 text-right">
  <button type="button" class="btn btn-primary" style="margin-top:30px" {{action 'download'}}> Download roster</button>
  <button type="button" class="btn btn-success" style="margin-top:30px" {{action 'addPlayer'}}> Add Player</button>
</div>
<div class="col-md-11">
  <table class="table table-bordered">
    {{partial "rosters/team_attributes"}}
  </table>
</div>
{{collection
  itemViewClass="CalculateYourTV.PlayerView"
  contentBinding=team.players
  tagName="table"
  classNames="table table-bordered"}}

{{#if skillSelectVisible}}

	<div class="modal" id="modal">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add Skill(s) To {{currentPlayer.name}} ({{currentPlayer.skills.length}}/6)</h4>
        </div>
        <div class="modal-body">
          {{partial "rosters/skill_select_box"}}
        </div>
      </div>
    </div>
  </div>
{{/if}}