{{#each teams}}
  <h1>{{name}}</h1>
  <table class="table table-bordered">
    <tr>
      <th>Rerolls</th>
      <th>Assistant Coaches</th>
      <th>Cheerleaders</th>
      <th>Apothecary</th>
      <th>Gold</th>
    </tr>
    <tr>
      <td>{{input type="number" value=rerolls size="2"}}</td>
      <td>{{input type="number" value=assistant_coaches size="2"}}</td>
      <td>{{input type="number" value=cheerleaders size="2"}}</td>
      <td>{{input type="checkbox" class="toggle" checked=apo}}</td>
      <td>{{input type="number" value=gold size="6"}}</td>
  </table>
{{/each}}
