<h1>{{team.name}} - {{team.tv}}</h1>
<table class="table table-bordered">
  {{partial "rosters/team_attributes"}}
</table>

<a {{action "addPlayer"}}>Add Player</a>
{{collection
  itemViewClass="CalculateYourTV.PlayerView"
  contentBinding=team.players
  tagName="table"
  classNames="table table-bordered"}}