<tr>
  <th>Rerolls</th>
  <th>Assistant Coaches</th>
  <th>Cheerleaders</th>
  <th>Apothecary</th>
  <th>Gold</th>
</tr>
<tr>
  <td>{{input type="number" value=team.rerolls size="2"}}</td>
  <td>{{input type="number" value=team.assistant_coaches size="2"}}</td>
  <td>{{input type="number" value=team.cheerleaders size="2"}}</td>
  <td>{{input type="checkbox" class="toggle" checked=team.apo}}</td>
  <td>{{input type="number" value=team.gold size="6"}}</td>
</tr>